$background-main-default: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
$background-active-modal: rgba(0, 0, 0, 0.3);
$normal-width-button: 211px;
$normal-height-button: 56px;
$wrapper-modal-tax-width: 552px;
$wrapper-modal-tax-height: 476px;
